* {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: ghostwhite; 
}

.title {
	width: 100%;
	text-align: center;
}
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center; 
}

.screen {
	height: 250px;
	width: 100%;
	background-image: url("https://thumbs.gfycat.com/PettySlowEthiopianwolf-size_restricted.gif");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
} 

.letters {
	height: 250px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	
	justify-content: center;
	align-content: center;
}

.button-container {
	flex-basis: 100px;
	width: 330px;
	padding: 5px;
	border: 5px outset saddlebrown;
	background-image: url("https://thumbs.dreamstime.com/b/textura-de-madera-pino-fondo-ilustraci%C3%B3n-del-vector-ejemplo-142891975.jpg");
	/*background-size: contain;*/
	/*background-color: peru;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
} 

.button-letter {
	flex-grow: 1;
	padding: 10px;
	margin: 2px;
	background-color: cornsilk;
	box-shadow: 2px 2px saddlebrown;
	border-radius: 5px;
}

.button-letter:hover {
	cursor: pointer;
	background-color: saddlebrown;
}