* {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: ghostwhite;
}

body {
	padding: 10px;
}

.container {
	background-color: darkorange;
	/*border: 15px solid;*/
	border-color: darkgrey;
	width: 30%;
	height: auto;
	display: flex; 
 	flex-direction: row;  /* row: filas, row-reverse: izq-rev, colum:  columnas, column-reverse: columna reveresa. */
	flex-wrap: wrap;  /* wrap: acmoda abajo si no cabe, nowrap: todos los elementos ocupan el 100%, wrap-reverse los mismo pero al revèz  */
	/* flex-flow: row wrap; */	/* atajo  */
	justify-content: center; /*Start, end, center, space-round: distribuye por tood el ancho con espaciados.*/
									/*space-between: distribuye como round, pero sin margen a los lados (util para headers).*/
	/*align-items: center;*/ /*Alineacion vertical start, end, center, stretch: alarga los items hasta abajo (solo funciona con hetig auto) */								
							/*baseline:  alinea todas las fuentes sean del tamaño que sean (interesante ver un hover con ésstp)*/

	/*align-content: flex-start;*/ /* centra verticalemtne grupos que aling-items no centra bien */						
	/* align-content recibe los mismos valores que aling-items, pero solo funciona cuando hay varias filas de elementos */ 
}

.card {
	/*display: grid;*/
	border: 1px solid;
	border: none;
	background-color: white;
	padding: 10px;
	margin: 10px;
	text-align: center; 
	width: 50px;
	height: 50px;
}

.card:hover {
	font-size: 30px; 
	cursor: pointer;
}