* {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: ghostwhite;
}

.container {
	background-color: darkorange;
	border: 15px solid;
	border-color: darkgrey;
	margin: 15px;
	width: 400px;
	height: 200px;
	display: flex;

	/* flex-direction: row; */ /* row: filas, row-reverse: izq-rev, colum:  columnas, column-reverse: columna reveresa. */
	/* flex-wrap: wrap; */ /* wrap: acmoda abajo si no cabe, nowrap: todos los elementos ocupan el 100%, wrap-reverse los mismo pero al revèz  */
	/* flex-flow: row wrap; */	/* atajo  */
	justify-content: flex-start;
}

.card {
	display: grid;
	border: 1px solid;
	border: none;
	background-color: white;
	padding: 10px;
	margin: 10px;
	text-align: center;
	vertical-align: top;
	width: 50px;
	height: 50px;

}