body {
	background-color: ghostwhite;
	font-family: 'Roboto Condensed', sans-serif;
}
 
.header {
	background-color: white;
	border-radius: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	position: sticky;
	top: 10px;
}

.header-brand {
	cursor: pointer;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 300px;
	border-radius: 30px;
} 

.header-menu {
	display: inline-block;
}

.header-menu a {
	display: inline-block;
	text-decoration: none;
	color: black;
	margin: 30px;
}

.header-menu a:hover {
	opacity: 0.5;
}

.header-menu button {
	border: none;
	display: inline-block;
	padding: 20px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 10px;
	font-weight: bold;
	background-color: gold;
	box-shadow: -4px 5px rgb(230, 195, 0);
	transition: box-shadow 2s;
}

.header-menu button:hover {
	box-shadow: none;
}

.header-menu button:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.9);
}

